## Nome: Gustavo Queiroz Ribeiro
## RM: 361485

Trabalho avaliativo da materia: *Distributed Data Processing & Storage* no MBA de Engenharia de Dados da FIAP.

![logo_fiap.png]()

OBS: Executar na ordem correta.

### Importações e ETL

In [109]:
from pyspark.sql import SparkSession
import pandas as pd

spark = SparkSession.builder.appName("Spark-trabalho-fiap").getOrCreate()
spark

In [110]:
url = "https://raw.githubusercontent.com/queirozene/fiap-public-data/refs/heads/main/csv/results%20(1).csv"

data = pd.read_csv(url)
df = spark.createDataFrame(data)

df.show(3)

+----------+-------------+-------------+--------------+--------------+--------------+--------+--------------+-----------+
|      date|home_teamName|away_teamName|home_scoreHome|away_scoreAway|tournamentName|cityCity|countryCountry|neutralTRUE|
+----------+-------------+-------------+--------------+--------------+--------------+--------+--------------+-----------+
|1872-11-30|     Scotland|      England|             0|             0|      Friendly| Glasgow|      Scotland|      false|
|1873-03-08|      England|     Scotland|             4|             2|      Friendly|  London|       England|      false|
|1874-03-07|     Scotland|      England|             2|             1|      Friendly| Glasgow|      Scotland|      false|
+----------+-------------+-------------+--------------+--------------+--------------+--------+--------------+-----------+
only showing top 3 rows

In [111]:
df = df.drop("neutralTRUE")

In [112]:
df = (
    df.withColumnRenamed("date", "data_da_partida")
    .withColumnRenamed("home_teamName", "time_mandante")
    .withColumnRenamed("away_teamName", "time_visitante")
    .withColumnRenamed("home_scoreHome", "placar_mandante")
    .withColumnRenamed("away_scoreAway", "placar_visitante")
    .withColumnRenamed("tournamentName", "torneio")
    .withColumnRenamed("cityCity", "cidade")
    .withColumnRenamed("countryCountry", "pais")
)

### 1. Quantos registros existem na base?

In [113]:
# python (spark)

qtd_registros = df.count()

print(f"Na base existem {qtd_registros} registros.")

Na base existem 40839 registros.

In [114]:
# sql

df.createOrReplaceTempView("jogos")

spark.sql('''
          SELECT
            COUNT(*) as `Quantidade de Registros`
          FROM jogos
          ''').show(5, truncate=False)

+-----------------------+
|Quantidade de Registros|
+-----------------------+
|40839                  |
+-----------------------+

### 2. Quantas equipes únicas mandantes existem na base?

In [115]:
# python (spark)

times_mandantes_unicos = df.select("time_mandante").distinct().count()

print(f"Na base existem {times_mandantes_unicos} times mandantes únicos.")

Na base existem 309 times mandantes únicos.

In [116]:
# sql

df.createOrReplaceTempView("jogos")

spark.sql('''
          SELECT
            COUNT(DISTINCT time_mandante) as `Quantidade de Times Mandantes`
          FROM jogos
          ''').show(truncate=False)

+-----------------------------+
|Quantidade de Times Mandantes|
+-----------------------------+
|309                          |
+-----------------------------+

### 3. Quantas vezes as equipes mandantes saíram vitoriosas?

In [117]:
# python (Spark)

mandantes_vitoria = df.filter(df.placar_mandante > df.placar_visitante).count()

print(f"Na base existem {mandantes_vitoria} partidas onde o time mandante venceu.")

Na base existem 19864 partidas onde o time mandante venceu.

In [118]:
# sql

spark.sql('''
          SELECT
            COUNT(time_mandante) as `Quantidade de vitorias time mandante`
          FROM jogos
          WHERE placar_mandante > placar_visitante
          ''').show(truncate=False)

+------------------------------------+
|Quantidade de vitorias time mandante|
+------------------------------------+
|19864                               |
+------------------------------------+

### 4. Quantas vezes as equipes visitantes saíram vitoriosas?

In [119]:
# python (Spark)

visitante_vitoria = df.filter(df.placar_visitante > df.placar_mandante).count()

print(f"Na base existem {visitante_vitoria} partidas onde o time visitante venceu.")

Na base existem 11544 partidas onde o time visitante venceu.

In [120]:
# sql

spark.sql('''
          SELECT
            COUNT(time_visitante) as `Quantidade de vitorias time visitante`
          FROM jogos
          WHERE placar_mandante < placar_visitante
          ''').show(truncate=False)

+-------------------------------------+
|Quantidade de vitorias time visitante|
+-------------------------------------+
|11544                                |
+-------------------------------------+

### 5. Quantas partidas resultaram em empate?

In [121]:
# python (Spark)

empates = df.filter(df.placar_visitante == df.placar_mandante).count()

print(f"Na base existem {empates} partidas onde o resultado final foi empate.")

Na base existem 9431 partidas onde o resultado final foi empate.

In [122]:
# sql

spark.sql('''
          SELECT
            COUNT(*) as `Quantidade de partidas empatadas`
          FROM jogos
          WHERE placar_mandante = placar_visitante
          ''').show(truncate=False)

+--------------------------------+
|Quantidade de partidas empatadas|
+--------------------------------+
|9431                            |
+--------------------------------+

### 6. Quantas partidas foram realizadas em cada país?

In [123]:
# python (Spark)

paises_distintos = df.select(df.pais).distinct().count()
print(f"Existem {paises_distintos} paises que sediaram partidas, segue o nome do pais e a quantidade de jogos realizados no mesmo:")

df.groupBy(df.pais).count().orderBy("count", ascending=False).show(266, truncate=False)

Existem 266 paises que sediaram partidas, segue o nome do pais e a quantidade de jogos realizados no mesmo:
+--------------------------------+-----+
|pais                            |count|
+--------------------------------+-----+
|United States                   |1144 |
|France                          |801  |
|England                         |687  |
|Malaysia                        |644  |
|Sweden                          |637  |
|Germany                         |581  |
|Brazil                          |529  |
|Spain                           |517  |
|Thailand                        |483  |
|Italy                           |480  |
|Switzerland                     |477  |
|Austria                         |475  |
|United Arab Emirates            |472  |
|South Africa                    |470  |
|Qatar                           |467  |
|South Korea                     |453  |
|Argentina                       |449  |
|Hungary                         |431  |
|Chile                           |405  |
|Belgium                         |396  |
|Mexico                          |392  |
|Egypt                           |391  |
|Netherlands                     |390  |
|Norway                          |385  |
|Scotland                        |385  |
|Uruguay                         |374  |
|Poland                          |372  |
|Denmark                         |371  |
|Trinidad and Tobago             |369  |
|Singapore                       |368  |
|Saudi Arabia                    |367  |
|Kuwait                          |355  |
|Portugal                        |355  |
|Tunisia                         |351  |
|Kenya                           |349  |
|Japan                           |344  |
|Finland                         |325  |
|Wales                           |324  |
|Republic of Ireland             |324  |
|Uganda                          |307  |
|China PR                        |304  |
|Peru                            |297  |
|Morocco                         |296  |
|Turkey                          |294  |
|Tanzania                        |294  |
|Australia                       |294  |
|Romania                         |286  |
|Indonesia                       |285  |
|Malawi                          |284  |
|Greece                          |283  |
|Jamaica                         |276  |
|Costa Rica                      |268  |
|Cyprus                          |266  |
|Ethiopia                        |261  |
|Bulgaria                        |261  |
|Iran                            |255  |
|India                           |253  |
|Malta                           |251  |
|Oman                            |251  |
|Ghana                           |247  |
|Northern Ireland                |243  |
|Zambia                          |241  |
|Jordan                          |236  |
|Bahrain                         |234  |
|Honduras                        |228  |
|Gabon                           |224  |
|Israel                          |222  |
|Ivory Coast                     |221  |
|Luxembourg                      |219  |
|Paraguay                        |218  |
|Yugoslavia                      |217  |
|Estonia                         |212  |
|Hong Kong                       |210  |
|Russia                          |209  |
|Ecuador                         |206  |
|Nigeria                         |206  |
|Senegal                         |202  |
|Algeria                         |198  |
|Haiti                           |198  |
|Mali                            |198  |
|Czechoslovakia                  |194  |
|Bolivia                         |193  |
|Iceland                         |191  |
|Colombia                        |188  |
|Guatemala                       |185  |
|Panama                          |182  |
|El Salvador                     |180  |
|Venezuela                       |170  |
|Zimbabwe                        |170  |
|Soviet Union                    |164  |
|Congo                           |164  |
|Cameroon                        |164  |
|Libya                           |163  |
|Latvia                          |161  |
|Albania                         |159  |
|Lebanon                         |158  |
|Burkina Faso                    |158  |
|Rwanda                          |157  |
|Sudan                           |157  |
|Angola                          |153  |
|Iraq                            |146  |
|Barbados                        |146  |
|Martinique                      |143  |
|Fiji                            |139  |
|New Zealand                     |139  |
|Togo                            |136  |
|Lithuania                       |134  |
|Mozambique                      |134  |
|Botswana                        |134  |
|Suriname                        |131  |
|Liberia                         |131  |
|Ukraine                         |130  |
|Guinea                          |130  |
|German DR                       |129  |
|Canada                          |128  |
|Croatia                         |125  |
|Vietnam                         |125  |
|Slovakia                        |123  |
|New Caledonia                   |123  |
|Georgia                         |122  |
|Gambia                          |122  |
|Sierra Leone                    |121  |
|Czech Republic                  |119  |
|Eswatini                        |114  |
|Bangladesh                      |108  |
|Saint Kitts and Nevis           |108  |
|Namibia                         |108  |
|North Macedonia                 |108  |
|Slovenia                        |106  |
|Azerbaijan                      |105  |
|Equatorial Guinea               |104  |
|Syria                           |104  |
|Uzbekistan                      |104  |
|Benin                           |102  |
|Faroe Islands                   |101  |
|Antigua and Barbuda             |101  |
|Lesotho                         |99   |
|Guyana                          |98   |
|Grenada                         |98   |
|Malaya                          |95   |
|Nepal                           |95   |
|Madagascar                      |94   |
|Liechtenstein                   |89   |
|Belarus                         |88   |
|Mauritania                      |88   |
|Guadeloupe                      |88   |
|Saint Lucia                     |86   |
|Mauritius                       |86   |
|Armenia                         |84   |
|Philippines                     |83   |
|Bosnia and Herzegovina          |82   |
|Bermuda                         |82   |
|Niger                           |81   |
|Kazakhstan                      |81   |
|Burma                           |79   |
|Moldova                         |79   |
|Cambodia                        |78   |
|DR Congo                        |78   |
|San Marino                      |77   |
|French Polynesia                |77   |
|Cuba                            |76   |
|Cape Verde                      |76   |
|Netherlands Antilles            |73   |
|Maldives                        |73   |
|Vietnam Republic                |72   |
|Samoa                           |72   |
|Jersey                          |68   |
|Solomon Islands                 |66   |
|Pakistan                        |66   |
|Guinea-Bissau                   |64   |
|Andorra                         |62   |
|Dominica                        |61   |
|Sri Lanka                       |59   |
|Saint Vincent and the Grenadines|59   |
|Zaïre                           |59   |
|Papua New Guinea                |59   |
|Yemen                           |58   |
|Vanuatu                         |58   |
|Curaçao                         |57   |
|French Guiana                   |55   |
|Puerto Rico                     |54   |
|North Korea                     |54   |
|Cayman Islands                  |52   |
|Aruba                           |50   |
|Montenegro                      |49   |
|Macau                           |48   |
|Dominican Republic              |48   |
|Laos                            |48   |
|Chinese Taipei                  |47   |
|Réunion                         |47   |
|Tajikistan                      |46   |
|Serbia                          |45   |
|Burundi                         |43   |
|Guernsey                        |41   |
|Chad                            |40   |
|Guam                            |40   |
|Seychelles                      |40   |
|Northern Cyprus                 |35   |
|Zanzibar                        |34   |
|Turkmenistan                    |33   |
|Kyrgyzstan                      |32   |
|Central African Republic        |31   |
|Gibraltar                       |30   |
|Netherlands Guyana              |29   |
|British Virgin Islands          |29   |
|British Guyana                  |28   |
|Tanganyika                      |28   |
|Western Samoa                   |27   |
|Nicaragua                       |26   |
|Isle of Man                     |24   |
|Upper Volta                     |22   |
|Djibouti                        |21   |
|São Tomé and Príncipe           |17   |
|Somalia                         |17   |
|Belize                          |17   |
|Palestine                       |16   |
|Dahomey                         |16   |
|Eritrea                         |16   |
|Northern Rhodesia               |15   |
|U.S. Virgin Islands             |15   |
|Comoros                         |15   |
|Bhutan                          |14   |
|Mongolia                        |13   |
|Anguilla                        |12   |
|Tonga                           |12   |
|Bahamas                         |12   |
|Southern Rhodesia               |11   |
|Saint Martin                    |11   |
|United Arab Republic            |11   |
|Kosovo                          |11   |
|Serbia and Montenegro           |11   |
|Sint Maarten                    |10   |
|Cook Islands                    |10   |
|Irish Free State                |9    |
|Brunei                          |9    |
|South Sudan                     |9    |
|Afghanistan                     |8    |
|Ceylon                          |8    |
|Vietnam DR                      |7    |
|Éire                            |7    |
|Gold Coast                      |6    |
|Rhodesia                        |6    |
|Saarland                        |6    |
|Montserrat                      |5    |
|Manchuria                       |5    |
|Monaco                          |5    |
|Yemen AR                        |5    |
|Myanmar                         |5    |
|Nyasaland                       |4    |
|French Somaliland               |4    |
|East Timor                      |4    |
|New Hebrides                    |3    |
|Bohemia                         |3    |
|Northern Mariana Islands        |3    |
|Palau                           |3    |
|Yemen DPR                       |2    |
|Greenland                       |2    |
|Turks and Caicos Islands        |2    |
|Tahiti                          |2    |
|Mayotte                         |2    |
|Belgian Congo                   |1    |
|Lautoka                         |1    |
|Portuguese Guinea               |1    |
|Mali Federation                 |1    |
|Bohemia and Moravia             |1    |
|Micronesia                      |1    |
+--------------------------------+-----+

In [124]:
# sql

spark.sql('''
          SELECT
            pais,
            count(*) AS `quantidade de jogos`
          FROM jogos
          GROUP BY pais
          ORDER BY `quantidade de jogos` DESC
          ''').show(266)

+--------------------+-------------------+
|                pais|quantidade de jogos|
+--------------------+-------------------+
|       United States|               1144|
|              France|                801|
|             England|                687|
|            Malaysia|                644|
|              Sweden|                637|
|             Germany|                581|
|              Brazil|                529|
|               Spain|                517|
|            Thailand|                483|
|               Italy|                480|
|         Switzerland|                477|
|             Austria|                475|
|United Arab Emirates|                472|
|        South Africa|                470|
|               Qatar|                467|
|         South Korea|                453|
|           Argentina|                449|
|             Hungary|                431|
|               Chile|                405|
|             Belgium|                396|
|              Mexico|                392|
|               Egypt|                391|
|         Netherlands|                390|
|              Norway|                385|
|            Scotland|                385|
|             Uruguay|                374|
|              Poland|                372|
|             Denmark|                371|
| Trinidad and Tobago|                369|
|           Singapore|                368|
|        Saudi Arabia|                367|
|              Kuwait|                355|
|            Portugal|                355|
|             Tunisia|                351|
|               Kenya|                349|
|               Japan|                344|
|             Finland|                325|
|               Wales|                324|
| Republic of Ireland|                324|
|              Uganda|                307|
|            China PR|                304|
|                Peru|                297|
|             Morocco|                296|
|              Turkey|                294|
|            Tanzania|                294|
|           Australia|                294|
|             Romania|                286|
|           Indonesia|                285|
|              Malawi|                284|
|              Greece|                283|
|             Jamaica|                276|
|          Costa Rica|                268|
|              Cyprus|                266|
|            Ethiopia|                261|
|            Bulgaria|                261|
|                Iran|                255|
|               India|                253|
|               Malta|                251|
|                Oman|                251|
|               Ghana|                247|
|    Northern Ireland|                243|
|              Zambia|                241|
|              Jordan|                236|
|             Bahrain|                234|
|            Honduras|                228|
|               Gabon|                224|
|              Israel|                222|
|         Ivory Coast|                221|
|          Luxembourg|                219|
|            Paraguay|                218|
|          Yugoslavia|                217|
|             Estonia|                212|
|           Hong Kong|                210|
|              Russia|                209|
|             Ecuador|                206|
|             Nigeria|                206|
|             Senegal|                202|
|             Algeria|                198|
|               Haiti|                198|
|                Mali|                198|
|      Czechoslovakia|                194|
|             Bolivia|                193|
|             Iceland|                191|
|            Colombia|                188|
|           Guatemala|                185|
|              Panama|                182|
|         El Salvador|                180|
|           Venezuela|                170|
|            Zimbabwe|                170|
|        Soviet Union|                164|
|               Congo|                164|
|            Cameroon|                164|
|               Libya|                163|
|              Latvia|                161|
|             Albania|                159|
|             Lebanon|                158|
|        Burkina Faso|                158|
|              Rwanda|                157|
|               Sudan|                157|
|              Angola|                153|
|                Iraq|                146|
|            Barbados|                146|
|          Martinique|                143|
|                Fiji|                139|
|         New Zealand|                139|
|                Togo|                136|
|           Lithuania|                134|
|          Mozambique|                134|
|            Botswana|                134|
|            Suriname|                131|
|             Liberia|                131|
|             Ukraine|                130|
|              Guinea|                130|
|           German DR|                129|
|              Canada|                128|
|             Croatia|                125|
|             Vietnam|                125|
|            Slovakia|                123|
|       New Caledonia|                123|
|             Georgia|                122|
|              Gambia|                122|
|        Sierra Leone|                121|
|      Czech Republic|                119|
|            Eswatini|                114|
|          Bangladesh|                108|
|Saint Kitts and N...|                108|
|             Namibia|                108|
|     North Macedonia|                108|
|            Slovenia|                106|
|          Azerbaijan|                105|
|   Equatorial Guinea|                104|
|               Syria|                104|
|          Uzbekistan|                104|
|               Benin|                102|
|       Faroe Islands|                101|
| Antigua and Barbuda|                101|
|             Lesotho|                 99|
|              Guyana|                 98|
|             Grenada|                 98|
|              Malaya|                 95|
|               Nepal|                 95|
|          Madagascar|                 94|
|       Liechtenstein|                 89|
|             Belarus|                 88|
|          Mauritania|                 88|
|          Guadeloupe|                 88|
|         Saint Lucia|                 86|
|           Mauritius|                 86|
|             Armenia|                 84|
|         Philippines|                 83|
|Bosnia and Herzeg...|                 82|
|             Bermuda|                 82|
|               Niger|                 81|
|          Kazakhstan|                 81|
|               Burma|                 79|
|             Moldova|                 79|
|            Cambodia|                 78|
|            DR Congo|                 78|
|          San Marino|                 77|
|    French Polynesia|                 77|
|                Cuba|                 76|
|          Cape Verde|                 76|
|Netherlands Antilles|                 73|
|            Maldives|                 73|
|    Vietnam Republic|                 72|
|               Samoa|                 72|
|              Jersey|                 68|
|     Solomon Islands|                 66|
|            Pakistan|                 66|
|       Guinea-Bissau|                 64|
|             Andorra|                 62|
|            Dominica|                 61|
|           Sri Lanka|                 59|
|Saint Vincent and...|                 59|
|               Zaïre|                 59|
|    Papua New Guinea|                 59|
|               Yemen|                 58|
|             Vanuatu|                 58|
|             Curaçao|                 57|
|       French Guiana|                 55|
|         Puerto Rico|                 54|
|         North Korea|                 54|
|      Cayman Islands|                 52|
|               Aruba|                 50|
|          Montenegro|                 49|
|               Macau|                 48|
|  Dominican Republic|                 48|
|                Laos|                 48|
|      Chinese Taipei|                 47|
|             Réunion|                 47|
|          Tajikistan|                 46|
|              Serbia|                 45|
|             Burundi|                 43|
|            Guernsey|                 41|
|                Chad|                 40|
|                Guam|                 40|
|          Seychelles|                 40|
|     Northern Cyprus|                 35|
|            Zanzibar|                 34|
|        Turkmenistan|                 33|
|          Kyrgyzstan|                 32|
|Central African R...|                 31|
|           Gibraltar|                 30|
|  Netherlands Guyana|                 29|
|British Virgin Is...|                 29|
|      British Guyana|                 28|
|          Tanganyika|                 28|
|       Western Samoa|                 27|
|           Nicaragua|                 26|
|         Isle of Man|                 24|
|         Upper Volta|                 22|
|            Djibouti|                 21|
|São Tomé and Prín...|                 17|
|             Somalia|                 17|
|              Belize|                 17|
|           Palestine|                 16|
|             Dahomey|                 16|
|             Eritrea|                 16|
|   Northern Rhodesia|                 15|
| U.S. Virgin Islands|                 15|
|             Comoros|                 15|
|              Bhutan|                 14|
|            Mongolia|                 13|
|            Anguilla|                 12|
|               Tonga|                 12|
|             Bahamas|                 12|
|   Southern Rhodesia|                 11|
|        Saint Martin|                 11|
|United Arab Republic|                 11|
|              Kosovo|                 11|
|Serbia and Monten...|                 11|
|        Sint Maarten|                 10|
|        Cook Islands|                 10|
|    Irish Free State|                  9|
|              Brunei|                  9|
|         South Sudan|                  9|
|         Afghanistan|                  8|
|              Ceylon|                  8|
|          Vietnam DR|                  7|
|                Éire|                  7|
|          Gold Coast|                  6|
|            Rhodesia|                  6|
|            Saarland|                  6|
|          Montserrat|                  5|
|           Manchuria|                  5|
|              Monaco|                  5|
|            Yemen AR|                  5|
|             Myanmar|                  5|
|           Nyasaland|                  4|
|   French Somaliland|                  4|
|          East Timor|                  4|
|        New Hebrides|                  3|
|             Bohemia|                  3|
|Northern Mariana ...|                  3|
|               Palau|                  3|
|           Yemen DPR|                  2|
|           Greenland|                  2|
|Turks and Caicos ...|                  2|
|              Tahiti|                  2|
|             Mayotte|                  2|
|       Belgian Congo|                  1|
|             Lautoka|                  1|
|   Portuguese Guinea|                  1|
|     Mali Federation|                  1|
| Bohemia and Moravia|                  1|
|          Micronesia|                  1|
+--------------------+-------------------+

### 7. Qual país teve mais partidas?

In [125]:
# python (Spark)

df_paises_partidas = df.groupBy(df.pais).count().orderBy("count", ascending=False).limit(1)

df_paises_partidas.show(truncate=False)

top_pais = df_paises_partidas.collect()[0]

pais = top_pais["pais"]
partidas = top_pais["count"]

print(f"O pais com mais partidas foi o {pais} com um total de {partidas} partidas.")

+-------------+-----+
|pais         |count|
+-------------+-----+
|United States|1144 |
+-------------+-----+

O pais com mais partidas foi o United States com um total de 1144 partidas.

In [126]:
# sql

spark.sql('''
          SELECT
            pais AS `pais com mais jogos`,
            count(*) AS `quantidade de jogos`
          FROM jogos
          GROUP BY pais
          ORDER BY `quantidade de jogos` DESC
          LIMIT 1
          ''').show()

+-------------------+-------------------+
|pais com mais jogos|quantidade de jogos|
+-------------------+-------------------+
|      United States|               1144|
+-------------------+-------------------+

### 8. Qual a partida com maior número de gols?

In [127]:
# python (Spark)

# verificação dos dados para ver se não tem mais de uma partida com o maior números de gols iguais

df_resultados = df.withColumns({'soma_placares': df.placar_mandante + df.placar_visitante})

df_resultados.orderBy("soma_placares", ascending=False).show(10)

+---------------+--------------+----------------+---------------+----------------+--------------------+-------------+----------------+-------------+
|data_da_partida| time_mandante|  time_visitante|placar_mandante|placar_visitante|             torneio|       cidade|            pais|soma_placares|
+---------------+--------------+----------------+---------------+----------------+--------------------+-------------+----------------+-------------+
|     2001-04-11|     Australia|  American Samoa|             31|               0|FIFA World Cup qu...|Coffs Harbour|       Australia|           31|
|     1971-09-13|        Tahiti|    Cook Islands|             30|               0| South Pacific Games|      Papeete|French Polynesia|           30|
|     1979-08-30|          Fiji|        Kiribati|             24|               0| South Pacific Games|      Nausori|            Fiji|           24|
|     2001-04-09|     Australia|           Tonga|             22|               0|FIFA World Cup qu...|Coffs Harbour|       Australia|           22|
|     2006-11-24|         Sápmi|          Monaco|             21|               1|      Viva World Cup|       Hyères|          France|           22|
|     2005-03-11|          Guam|     North Korea|              0|              21|   EAFF Championship|       Taipei|  Chinese Taipei|           21|
|     1987-12-15|American Samoa|Papua New Guinea|              0|              20| South Pacific Games|       Nouméa|   New Caledonia|           20|
|     2000-02-14|        Kuwait|          Bhutan|             20|               0|AFC Asian Cup qua...|  Kuwait City|          Kuwait|           20|
|     2003-06-30|          Sark|   Isle of Wight|              0|              20|        Island Games|   St. Martin|        Guernsey|           20|
|     2014-06-01|        Darfur|         Padania|              0|              20|CONIFA World Foot...|    Östersund|          Sweden|           20|
+---------------+--------------+----------------+---------------+----------------+--------------------+-------------+----------------+-------------+
only showing top 10 rows

In [128]:
# python (Spark)

df_partida_maior_placar = df_resultados.orderBy("soma_placares", ascending=False).limit(1)

df_partida_maior_placar.show(truncate=False)

dados_partida = df_partida_maior_placar.collect()[0]

data = dados_partida["data_da_partida"]
mandante = dados_partida["time_mandante"]
visitante = dados_partida["time_visitante"]
placar_mandante = dados_partida["placar_mandante"]
placar_visitante = dados_partida["placar_visitante"]
soma_resultado = dados_partida["soma_placares"]

print(f"A partida com o maior número de gols foi realizada na data de {data}, \
entre as seleções da {mandante} x {visitante} com o resultado de {placar_mandante} x {placar_visitante} para a seleção da {mandante}. \
Com o total de {soma_resultado} gols.")

+---------------+-------------+--------------+---------------+----------------+----------------------------+-------------+---------+-------------+
|data_da_partida|time_mandante|time_visitante|placar_mandante|placar_visitante|torneio                     |cidade       |pais     |soma_placares|
+---------------+-------------+--------------+---------------+----------------+----------------------------+-------------+---------+-------------+
|2001-04-11     |Australia    |American Samoa|31             |0               |FIFA World Cup qualification|Coffs Harbour|Australia|31           |
+---------------+-------------+--------------+---------------+----------------+----------------------------+-------------+---------+-------------+

A partida com o maior número de gols foi realizada na data de 2001-04-11, entre as seleções da Australia x American Samoa com o resultado de 31 x 0 para a seleção da Australia. Com o total de 31 gols.

In [129]:
# sql

spark.sql('''
          SELECT
            data_da_partida,
            time_mandante,
            time_visitante,
            placar_mandante,
            placar_visitante,
            sum(placar_mandante + placar_visitante) as soma_placares
          FROM jogos
          GROUP BY data_da_partida, time_mandante, time_visitante, placar_mandante, placar_visitante
          ORDER BY soma_placares DESC
          LIMIT 1
          ''').show()

+---------------+-------------+--------------+---------------+----------------+-------------+
|data_da_partida|time_mandante|time_visitante|placar_mandante|placar_visitante|soma_placares|
+---------------+-------------+--------------+---------------+----------------+-------------+
|     2001-04-11|    Australia|American Samoa|             31|               0|           31|
+---------------+-------------+--------------+---------------+----------------+-------------+

### 9. Qual a maior goleada?

Essa pergunta poderia ser respondida utilizando o resultado da questão 8.

Pois a partida com maior número de gols coincidentemente foi a maior goleada utilizando o parametro de "goleada" no futebol = (saldo de: gols marcados - gols sofridos).

Porém, utilizarei uma mecanica de criar esse dado de saldo de gols por partida para encontrar a maior diferença e mudar o método de responder a questão.

In [130]:
# python (Spark)

df_home_win = df.select('*').where(df.placar_mandante > df.placar_visitante)

df_away_win = df.select('*').where(df.placar_visitante > df.placar_mandante)

df_home_win = df_home_win.withColumns({'saldo_gols': df_home_win.placar_mandante - df_home_win.placar_visitante}).orderBy('saldo_gols', ascending=False)
df_away_win = df_away_win.withColumns({'saldo_gols': df_away_win.placar_visitante - df_away_win.placar_mandante}).orderBy('saldo_gols', ascending=False)

df_home_win.show(1)
df_away_win.show(1)

print("A maior goleada aconteceu para um time mandante!")

maior_goleada = df_home_win.collect()[0]

data = maior_goleada["data_da_partida"]
mandante = maior_goleada["time_mandante"]
visitante = maior_goleada["time_visitante"]
placar_mandante = maior_goleada["placar_mandante"]
placar_visitante = maior_goleada["placar_visitante"]
saldo_gols = maior_goleada["saldo_gols"]

print(f"A maior goleada foi realizada na data de {data}, \
entre as seleções da {mandante} x {visitante} com o resultado de {placar_mandante} x {placar_visitante} para a seleção da {mandante}. \
Com o saldo de gols de {saldo_gols} gols positivos.")

+---------------+-------------+--------------+---------------+----------------+--------------------+-------------+---------+----------+
|data_da_partida|time_mandante|time_visitante|placar_mandante|placar_visitante|             torneio|       cidade|     pais|saldo_gols|
+---------------+-------------+--------------+---------------+----------------+--------------------+-------------+---------+----------+
|     2001-04-11|    Australia|American Samoa|             31|               0|FIFA World Cup qu...|Coffs Harbour|Australia|        31|
+---------------+-------------+--------------+---------------+----------------+--------------------+-------------+---------+----------+
only showing top 1 row

+---------------+-------------+--------------+---------------+----------------+-----------------+------+--------------+----------+
|data_da_partida|time_mandante|time_visitante|placar_mandante|placar_visitante|          torneio|cidade|          pais|saldo_gols|
+---------------+-------------+--------------+---------------+----------------+-----------------+------+--------------+----------+
|     2005-03-11|         Guam|   North Korea|              0|              21|EAFF Championship|Taipei|Chinese Taipei|        21|
+---------------+-------------+--------------+---------------+----------------+-----------------+------+--------------+----------+
only showing top 1 row

A maior goleada aconteceu para um time mandante!
A maior goleada foi realizada na data de 2001-04-11, entre as seleções da Australia x American Samoa com o resultado de 31 x 0 para a seleção da Australia. Com o saldo de gols de 31 gols positivos.

In [131]:
# sql

print("A maior goleada aconteceu na partida abaixo:")

spark.sql('''
          SELECT
              data_da_partida,
              time_mandante,
              time_visitante,
              placar_mandante,
              placar_visitante,
              ABS(placar_mandante - placar_visitante) AS saldo_gols
          FROM jogos
          ORDER BY saldo_gols DESC
          LIMIT 1
          ''').show()

A maior goleada aconteceu na partida abaixo:
+---------------+-------------+--------------+---------------+----------------+----------+
|data_da_partida|time_mandante|time_visitante|placar_mandante|placar_visitante|saldo_gols|
+---------------+-------------+--------------+---------------+----------------+----------+
|     2001-04-11|    Australia|American Samoa|             31|               0|        31|
+---------------+-------------+--------------+---------------+----------------+----------+

### 10. Quantos jogos ocorreram no Brasil?

In [132]:
# python (Spark)

jogos_brasil = df.select('*').where(df.pais == "Brazil").count()

print(f"Foram realizadas {jogos_brasil} partidas no Brasil.")

Foram realizadas 529 partidas no Brasil.

In [133]:
# sql

spark.sql('''
          SELECT
            COUNT(*) AS `Quantidade de jogos no Brasil`
          FROM jogos
          WHERE pais = "Brazil"
          ''').show()

+-----------------------------+
|Quantidade de jogos no Brasil|
+-----------------------------+
|                          529|
+-----------------------------+